# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
**/android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# iOS (caso adicione suporte iOS futuramente)
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
